body {
    font-family: 'Poppins', sans-serif;
}

.input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input__container input {
    width: 100%;
    margin: 20px;
    text-align: center;
}

.submit-button {
    padding: 10px;
    background-color: #6abcff;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 200px;
}